* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.features {
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding-top: 4rem;
}

.features .card {
    padding: 1rem 2rem;
}

.features .icon-wrapper {
    height: 5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.features .icon {
    max-height: 5rem;
    height: inherit;
    object-fit: cover;
}

.features .title {
    text-transform: uppercase;
    font: 700 0.875rem/1.25 Arial, sans-serif;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

.features .description {
    font: 400 0.875rem/1.25 Arial, sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100;
}